# Non-secret configuration (written to config.env by deploy.sh)
MIX_ENV=prod
NODE_ENV=production
URL_HOST=lightning.ministry.local
URL_SCHEME=http
URL_PORT=4000
PORT=4000
LISTEN_ADDRESS=0.0.0.0
EMAIL_ADMIN=admin@ministry.local
EMAIL_SENDER_NAME="OpenFn Lightning"
ALLOW_SIGNUP=true
USAGE_TRACKING_ENABLED=false
DISABLE_DB_SSL=true
DOCKER_RESTART_POLICY=unless-stopped
LIGHTNING_EXTERNAL_PORT=0.0.0.0:4000:4000
